@use "./scss/navbar";
@use "./scss/partial";
@use "./scss/grid";
$primary-color: hotpink;
$secondary-color: pink;
$tertiary-color: rgb(66, 66, 66);

* {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: white;
    margin: 0;
    padding: 0;
    width: 100%;
}
h1 {
    margin-left: 3%;
    -webkit-text-stroke: 3px $primary-color;
}
h2 {
    padding-left: 80px;
    color: #717171;
}
hr {
    width: 90%;
    border: 1.5px solid $secondary-color;
    background-color: $secondary-color;
}
p {
    text-align: center;
    color: $tertiary-color;
}
